*~
Makefile
CMakeCache*
CMakeFiles/
*.cmake
Testing/
*.a
bin/
lib/
doc/
*.bbl
compile_commands.json
*.dat
*.raw
.cproject
.project
*.gcno
*.gcda
*.tex
*#
*.nvvp
profile.nsight*
ltximg/
*.pdf
install_manifest.txt
out*
input_data.txt